<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordlle</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col" class="fs-4">Name</th>
                    <th scope="col" class="fs-4">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_list %}
                <tr>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.score}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        
    </div>
</body>
</html>