<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Wordlle</title>
</head>
<body>
    <p>Random Word = {{word}}</p>
    <form action="/validate" method="post">
        <input type="hidden" value = {{word}} name="word">
        <div>
            <input type="text" size="1" name="first">
            <input type="text" size="1" name="second">
            <input type="text" size="1" name="third">
            <input type="text" size="1" name="fourth">
            <input type="text" size="1" name="fifth">
        </div>
        <div>
            <input type="submit" value="Enter">
        </div>
    </form>
    <div>
        <h2>Score = {{session['score']}}</h2>
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>